
body, html, * {
	margin: 0;
	padding: 0;
	font-family: Arial;
    background-color: #F8F8F8;
}

ul, li {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

h2 {
	font-size:24px;
	font-weight: bold;
}

#site-wrapper {
	margin: 0 auto;
	width: 80%;
}

.movie {
	width: 48%;
	height: 380px;
	margin: 1%;
	background-color: #e8e8e8;
	float:left;
}

.movieposter {
	float:left;
	width: 140px;
	margin:20px;
}

.movieinfo {
	float:left;
	width: 52%;
	margin:20px;
	font-size:12px;
	padding: 2%;
}

.pagination {
	overflow: hidden;
	float: none;
	clear: both;
	height: 32px;
	width: auto;
	margin: 20px auto 35px auto;
	font-size: 14px;
	text-align: center;
}

.pagination_item {
	display: inline-block;
	padding: 7px 15px 7px 15px;
	background-color: #CCC;
	margin: 0 0 5px 10px;
	cursor: pointer;
	text-decoration: none;
	color: #FFF;
}

.active {
	background-color: #00FF00;
}

.inner-wrap {
    position:relative;
}

#live-search {
    padding-top: 30px;
    margin: 0 auto;
    width:55%;
}

.population {
    color: #8a0808;
}

#results {
    background:#F2F2F2;
    border-top: 2px solid #585858;
    color:#585858;
    display:none;
    height:auto;
    left:0;
    padding: 10px;
    position:absolute;
    text-align:center;
    top:50px;
    width:100%;
}

#search {
    border:0;
    display:block;
    font: normal 20px/1.5em 'Ubuntu Condensed';
    margin: 40px auto auto auto;
    outline:none;
    padding: 10px;
    text-align:center;
    width:100%;}
    #search:focus {
    box-shadow: 0 0 15px #FFF;
    transition: all ease .5s;
}