@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body, html, * {
	margin: 0;
	padding: 0;
	color: #C8C8C8;
  background-color: rgba(43, 48, 59, 1.0);
	font-family: 'Lato', sans-serif;
}

*:focus {
	outline:0;
}

ul, li {
	list-style: none;
	padding: 0;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

h3 {
	font-size:14px;
	font-weight: 700;
	margin: 7px 0;
	font-family: 'Lato', sans-serif;
}

h4 {
	font-size:14px;
	font-weight: 700;
	margin-top: 7px;
	font-family: 'Lato', sans-serif;
}

input {
	margin: 0 5px 5px 0;
}

/* Algemene styling */

#st-container {
	margin: 0 auto;
	width: 100%;
}

.movies {
	margin-top: 10px;
}

.movie {
	float:left;
	display:none;
}

.movieinfo {
	float:left;
	width: 52%;
	margin:20px;
	font-size:12px;
	padding: 2%;
}

.myrating {
	background-color: #f27545;
	width: 50px;
	height: 60px;
	z-index: 2;
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 0 0 10px 10px;
	font-size: 48px;
}
/* Filtering */

select {
	width: 100%;
}

.filter-genre {
	width: 100%;
}

.filter-genre li {
	width: 50%;
	float: left;
}

.ui-slider-horizontal {
	height: 0.4em;
}

.ui-slider .ui-slider-handle {
	width: 0.6em;
	height: 0.6em;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -0.1em;
	margin-left: -.3em;
}

.ui-widget-header {
	background-color: #0083ab;
}

.ui-widget-content {
	border: none;
}

/* Pagination */

.pagination {
	overflow: hidden;
	display: none;
	float: none;
	clear: both;
	height: 32px;
	width: auto;
	margin: 20px auto 35px auto;
	font-size: 14px;
	text-align: center;
}

.pagination_item {
	display: inline-block;
	padding: 7px 15px 7px 15px;
	background-color: #CCC;
	margin: 0 0 5px 10px;
	cursor: pointer;
	text-decoration: none;
	color: #FFF;
}

.pagination .first, .pagination .last {
	background-color: #f27545;

}

.active {
	background-color: #0083ab;
}

/* live-search */
.inner-wrap {
  position:relative;
}

#results {
  background: rgba(43, 48, 59, 1.0);
  border-top: 2px solid #C8C8C8;
  color:#F2F2F2;
  display:none;
  height:auto;
  left:0;
  padding: 10px;
  position:absolute;
  text-align:center;
  top:50px;
  width:100%;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.movietitle {
  background: rgba(43, 48, 59, 1.0);
}

.movietitle a {
	color: #C8C8C8;
	font-weight: 300;
}

#search {
  border:0;
  display:block;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	margin: auto;
	margin-top: 2px;
  outline:none;
  padding: 10px;
  text-align:center;
  width:100%;
  border: 1px solid;
}

#search:focus {
  box-shadow: 0 0 15px #FFF;
  transition: all ease .5s;
  background-color: #C8C8C8;
  color: rgba(43, 48, 59, 1.0);
}

/* Slide in on hover (animate transforms) */

.caption {
	display: inline-block;
	position: relative;
	margin: 10px;
}

.caption img {
	display: block;
	width: 200px;
	height: 300px;
}

.caption-3 {
	overflow: hidden;
	background: #000;
}

.caption-3 img {
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.caption-3:hover img {
	opacity: 0.5;
}

.caption-3::after,
.caption-3::before {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 50px;
	color: #fff;
	-moz-box-sizing: initial;
	box-sizing: initial;
	-webkit-transition: -webkit-transform 0.3s ease-in-out; 
	-moz-transition: -moz-transform 0.3s ease-in-out; 
	transition: transform 0.3s ease-in-out; 
}

.caption-3::after {
	content: attr(data-title);
	top: 0;
	width: 140px;
	background: #0083ab;
	font-size: 20px;
	font-weight: 300;
	padding: 30px;
	z-index: 99;
	-moz-box-sizing: initial;
	box-sizing: initial;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.caption-3::before {
	content: attr(data-description) '...';
	width: 160px;
	top: 210px;
	background: #f27545;
	font-size: 14px;
	padding: 20px;
	-moz-box-sizing: initial;
	box-sizing: initial;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
}

.caption-3:hover::after,
.caption-3:hover::before {
	-moz-box-sizing: initial;
	box-sizing: initial;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}

